*{
    padding: 0px;
    margin: 0px;
}

body{
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
}

.container{
    font-size: 4rem;
}

.buttons{
    text-align: center;
    justify-content: space-between;
}

button{
    border: none;
    font-size: 1.3rem;
    background-color: rgb(136, 10, 52);
    color: white;
    padding: 5px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 7px;
}

button:hover{
    background-color: rgb(53, 5, 21);
}

button:active{
    scale: 0.9;
}

.container{
    transition: 1s;
}